.rating-container{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    


    .rating-stars-container{
        color: #ffa534;

        display: flex;
        flex-direction: row;
        gap: 0.1rem;
    }
}